force-app/main/default/flows/Close_Capital_Call.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>60.0</apiVersion>
    <assignments>
        <name>Add_Capital_Call_Balance</name>
        <label>Add Capital Call Balance</label>
        <locationX>50</locationX>
        <locationY>1814</locationY>
        <assignmentItems>
            <assignToReference>FundsReceived</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Amount_received</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Fund_Received_value</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_to_net_value</name>
        <label>Add to net value</label>
        <locationX>402</locationX>
        <locationY>1214</locationY>
        <assignmentItems>
            <assignToReference>NetValueOfCapitalCalls</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Iterate_over_Capital_Calls.Amount_Received__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Iterate_over_Capital_Calls</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Fund_Balance</name>
        <label>Assign Fund Balance</label>
        <locationX>50</locationX>
        <locationY>1706</locationY>
        <assignmentItems>
            <assignToReference>FundsReceived</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Fund.Funds_received__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_Capital_Call_Balance</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Subtract_from_net_value</name>
        <label>Subtract from net value</label>
        <locationX>138</locationX>
        <locationY>1214</locationY>
        <assignmentItems>
            <assignToReference>NetValueOfCapitalCalls</assignToReference>
            <operator>Subtract</operator>
            <value>
                <elementReference>Iterate_over_Capital_Calls.Amount_Received__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Iterate_over_Capital_Calls</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Capital_Call_found</name>
        <label>Capital Call found?</label>
        <locationX>611</locationX>
        <locationY>242</locationY>
        <defaultConnector>
            <targetReference>Error</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Capital_Call</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Check_if_running_balance_already_there</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_if_running_balance_already_there</name>
        <label>Check if running balance already there</label>
        <locationX>380</locationX>
        <locationY>350</locationY>
        <defaultConnector>
            <targetReference>Copy_2_of_Error</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Running_balance_not_populated</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>Get_Capital_Call.Amount_Received__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Capital_Call.Amount_Received__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Input_data</targetReference>
            </connector>
            <label>Running balance not populated</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Transaction_Type</name>
        <label>Check Transaction Type</label>
        <locationX>270</locationX>
        <locationY>1106</locationY>
        <defaultConnector>
            <targetReference>Add_to_net_value</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Credit</defaultConnectorLabel>
        <rules>
            <name>Debit</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Iterate_over_Capital_Calls.FinServ__TransactionType__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Debit</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Subtract_from_net_value</targetReference>
            </connector>
            <label>Debit</label>
        </rules>
    </decisions>
    <decisions>
        <name>Full_Amount_Received</name>
        <label>Full Amount Received?</label>
        <locationX>182</locationX>
        <locationY>674</locationY>
        <defaultConnector>
            <targetReference>error2</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Partial</defaultConnectorLabel>
        <rules>
            <name>Yes0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Capital_Call.FinServ__Amount__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Amount_received</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Capital_Call</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>TODAY</name>
        <dataType>Date</dataType>
        <expression>TODAY()</expression>
    </formulas>
    <interviewLabel>Close Capital Call {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Close Capital Call</label>
    <loops>
        <name>Iterate_over_Capital_Calls</name>
        <label>Iterate over Capital Calls</label>
        <locationX>50</locationX>
        <locationY>998</locationY>
        <collectionReference>Fetch_all_capital_call_for_re_evaluation</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Check_Transaction_Type</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_Commitment_record</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>Fetch_all_capital_call_for_re_evaluation</name>
        <label>Fetch all capital call for re-evaluation</label>
        <locationX>50</locationX>
        <locationY>890</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Iterate_over_Capital_Calls</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>FinServ__FinancialAccount__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Capital_Call.FinServ__FinancialAccount__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>FinServ__FinancialAccount__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Completed__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>FinServ__FinancialAccountTransaction__c</object>
        <sortField>CreatedDate</sortField>
        <sortOrder>Asc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Capital_Call</name>
        <label>Get Capital Call</label>
        <locationX>611</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Capital_Call_found</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Copy_1_of_Error</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>FinServ__FinancialAccountTransaction__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Fund</name>
        <label>Get Fund</label>
        <locationX>50</locationX>
        <locationY>1598</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_Fund_Balance</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Capital_Call.FinServ__FinancialAccount__r.Fund__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>FinServ__FinancialAccount__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Capital_Call</name>
        <label>Update Capital Call</label>
        <locationX>50</locationX>
        <locationY>782</locationY>
        <connector>
            <targetReference>Fetch_all_capital_call_for_re_evaluation</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Amount_Received__c</field>
            <value>
                <elementReference>Amount_received</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Completed__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>FinServ__TransactionDate__c</field>
            <value>
                <elementReference>TODAY</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>FinServ__TransactionStatus__c</field>
            <value>
                <stringValue>Capital Received</stringValue>
            </value>
        </inputAssignments>
        <object>FinServ__FinancialAccountTransaction__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Commitment_record</name>
        <label>Update Commitment record</label>
        <locationX>50</locationX>
        <locationY>1490</locationY>
        <connector>
            <targetReference>Get_Fund</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Capital_Call.FinServ__FinancialAccount__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Amount_Received__c</field>
            <value>
                <elementReference>NetValueOfCapitalCalls</elementReference>
            </value>
        </inputAssignments>
        <object>FinServ__FinancialAccount__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Fund_Received_value</name>
        <label>Update Fund Received value</label>
        <locationX>50</locationX>
        <locationY>1922</locationY>
        <connector>
            <targetReference>Final_Screen</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Fund.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Funds_received__c</field>
            <value>
                <elementReference>FundsReceived</elementReference>
            </value>
        </inputAssignments>
        <object>FinServ__FinancialAccount__c</object>
    </recordUpdates>
    <screens>
        <name>Copy_1_of_Error</name>
        <label>Error</label>
        <locationX>1106</locationX>
        <locationY>242</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Copy_1_of_errormessage</name>
            <fieldText>&lt;p&gt;Error occurred. &lt;/p&gt;&lt;p&gt;Please contact your salesforce administrator. &lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Copy_2_of_Error</name>
        <label>Error</label>
        <locationX>578</locationX>
        <locationY>458</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Copy_2_of_errormessage</name>
            <fieldText>&lt;p&gt;We cannot close this Capital Call as &apos;Running Balance&apos; field is already populated with {!Get_Capital_Call.FinServ__RunningBalance__c}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Error</name>
        <label>Error</label>
        <locationX>842</locationX>
        <locationY>350</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>errormessage</name>
            <fieldText>&lt;p&gt;Unable to fetch Capital Call.&lt;/p&gt;&lt;p&gt;Please make sure you started this flow from a Capital Call.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>error2</name>
        <label>error</label>
        <locationX>314</locationX>
        <locationY>782</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>msg</name>
            <fieldText>&lt;p&gt;Cannot process partial capital call&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Final_Screen</name>
        <label>Final Screen</label>
        <locationX>50</locationX>
        <locationY>2030</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>success_message</name>
            <fieldText>&lt;p&gt;Capital Call closed.&lt;/p&gt;&lt;p&gt;Your updated balance of your commitment now stands to {!NetValueOfCapitalCalls}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Input_data</name>
        <label>Input data</label>
        <locationX>182</locationX>
        <locationY>458</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Validate</targetReference>
        </connector>
        <fields>
            <name>Amount_received</name>
            <dataType>Currency</dataType>
            <fieldText>Amount received</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
            <scale>2</scale>
            <validationRule>
                <errorMessage>&lt;p&gt;Amount cannot be less than 0&lt;/p&gt;</errorMessage>
                <formulaExpression>{!Amount_received} &gt;= 0</formulaExpression>
            </validationRule>
        </fields>
        <nextOrFinishButtonLabel>Review</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Validate</name>
        <label>Validate</label>
        <locationX>182</locationX>
        <locationY>566</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Full_Amount_Received</targetReference>
        </connector>
        <fields>
            <name>Validate_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Validate_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>ProposedAmount</name>
                    <fieldText>&lt;p&gt;&lt;b&gt;Requested Amount - &lt;/b&gt;{!Get_Capital_Call.FinServ__Amount__c}&lt;span class=&quot;ql-cursor&quot;&gt;﻿&lt;/span&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Validate_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>FinalAmount</name>
                    <fieldText>&lt;p&gt;&lt;strong style=&quot;color: rgb(68, 68, 68); background-color: rgb(255, 255, 255);&quot;&gt;Received Amount - &lt;/strong&gt;&lt;span style=&quot;color: rgb(68, 68, 68); background-color: rgb(255, 255, 255);&quot;&gt;{!Amount_received}&lt;/span&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <nextOrFinishButtonLabel>Close Capital Call</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>485</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Capital_Call</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>FundsReceived</name>
        <dataType>Currency</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>NetValueOfCapitalCalls</name>
        <dataType>Currency</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
