force-app/main/default/flows/Initiate_Capital_Call_Fund.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>60.0</apiVersion>
    <decisions>
        <name>CheckBalanceAndTarget</name>
        <label>CheckBalanceAndTarget</label>
        <locationX>182</locationX>
        <locationY>242</locationY>
        <defaultConnector>
            <targetReference>ErrorScreen</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>BalanceLessThanTarget</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>GetCommitmentRecord.Amount_Received__c</leftValueReference>
                <operator>LessThan</operator>
                <rightValue>
                    <elementReference>GetCommitmentRecord.Committed_Amount__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>GetCommitmentRecord.Amount_Received__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Capital_call</targetReference>
            </connector>
            <label>BalanceLessThanTarget</label>
        </rules>
    </decisions>
    <description>Initiate Capital Call from Fund</description>
    <environments>Default</environments>
    <interviewLabel>Initiate Capital Call Fund {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Initiate Capital Call Fund</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>CreateCapitalCall</name>
        <label>CreateCapitalCall</label>
        <locationX>50</locationX>
        <locationY>458</locationY>
        <inputAssignments>
            <field>FinServ__Amount__c</field>
            <value>
                <elementReference>Amount</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>FinServ__FinancialAccount__c</field>
            <value>
                <elementReference>GetCommitmentRecord.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>FinServ__TransactionDate__c</field>
            <value>
                <elementReference>$System.OriginDateTime</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>FinServ__TransactionStatus__c</field>
            <value>
                <stringValue>New</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>FinServ__TransactionType__c</field>
            <value>
                <stringValue>Credit</stringValue>
            </value>
        </inputAssignments>
        <object>FinServ__FinancialAccountTransaction__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>GetCommitmentRecord</name>
        <label>GetCommitmentRecord</label>
        <locationX>182</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>CheckBalanceAndTarget</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>CommitmentId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>FinServ__FinancialAccount__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <screens>
        <name>Capital_call</name>
        <label>Capital call</label>
        <locationX>50</locationX>
        <locationY>350</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>CreateCapitalCall</targetReference>
        </connector>
        <fields>
            <name>Amount</name>
            <dataType>Currency</dataType>
            <fieldText>Enter the Amount :</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
            <scale>2</scale>
        </fields>
        <nextOrFinishButtonLabel>Create</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>ErrorScreen</name>
        <label>ErrorScreen</label>
        <locationX>314</locationX>
        <locationY>350</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Message</name>
            <fieldText>&lt;p&gt;Target already reached&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <nextOrFinishButtonLabel>Done</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>GetCommitmentRecord</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <description>CommitmentId</description>
        <name>CommitmentId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
